@import url(./reset.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #F1CDB3;
    --main-color-light: #FDDCC4;

    --text-main: #000000;
    --text-dark: #545454;

    --gray: #CDCDCD;
}

body {
    font-family: Georgia,sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
    color: var(--text-main) ;
}

a {
    color: inherit;
}

p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

h2 {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--text-dark);

}
h3 {
    font-size: 35px;
    letter-spacing: 6%;
    font-weight: 400;

}
h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 1;
}
p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 1;
}

button {
    box-sizing: border-box;
    cursor: pointer;   
}

ul {
    list-style: none;
}

.btn {
    padding: 15px 45px;
    background: var(--main-color);
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    border-radius: 100px;
    border: 0;
    transition: .3s;
}

.btn:disabled,
.btn:disabled:hover {
    background: transparent;
    border: 2px solid var(--gray);
    color: var(--gray);
    cursor: not-allowed;
}

.btn:hover {
    background: var(--main-color-light);
    transition: .3s;
    border-color: var(--main-color-light);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--main-color);
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 52px;
    height: 52px;
}
