@import url(./reset.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #F1CDB3;
    --main-color-light: #FDDCC4;

    --text-main: #000000;
    --text-dark: #545454;

    --gray: #CDCDCD;
}

body {
    font-family: Georgia,sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
    color: var(--text-main) ;
    margin: 0;
}

a {
    color: inherit;
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

h2 {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--text-dark);

}
h3 {
    font-size: 35px;
    letter-spacing: 6%;
    font-weight: 400;

}
h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 1;
}
p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 6%;
    line-height: 1;
}

button {
    box-sizing: border-box;
    cursor: pointer;   
}

ul {
    list-style: none;
}

.btn {
    padding: 15px 45px;
    background: var(--main-color);
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    border-radius: 100px;
    border: 0;
    transition: .3s;
}

.btn:disabled,
.btn:disabled:hover {
    background: transparent;
    border: 2px solid var(--gray);
    color: var(--gray);
    cursor: not-allowed;
}

.btn:hover {
    background: var(--main-color-light);
    transition: .3s;
    border-color: var(--main-color-light);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--main-color);
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 52px;
    height: 52px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;   
  width: 100%;
  max-width: 1400px;
  padding: 60px 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}
 
.logo h1 {
  color: #F1CDB3 ;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
}

.logo p {
  color: #ffffff;
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.nav__list {
    display: flex;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__list a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 15px;
  position: relative;
  padding-bottom: 6px;
}

.nav__list a:hover {
  color: #ffffff;
}

.nav__list a.active {
  color: #ffffff;
}

.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
}

main {
    margin-bottom: 80px;
}
.intro {
    padding-top: 186px;
     background: radial-gradient(circle at left top, #5b483a, #262425 60%);   
}

.top {
    padding: 60px 0 0;
}
.intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__content {
    width: 310px;
    padding: 223px 40px;
}

.intro__title {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.intro__subtitle {
    color: #CDCDCD;
    margin-bottom: 42px;
}

.btn {
    color: #292929;
}

.intro__image {
    position: absolute;
    right: 150px;
}

.shelter {
    padding: 80px 100px;
}

.shelter__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    max-width: 1200px;

}

.shelter__img {
    display: block;
    width: 300px;
    height: auto;
    padding: 0 175px;
}

.shelter__info {
    max-width: 430px;
}

.shelter__title {
    color: #545454;
    margin-bottom: 25px;
}

.shelter__text,
.shelter__text-l {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #4c4c4c;
}

.shelter__text {
    margin-bottom: 25px;
}